 <section class="w-80" hlmCard>
          <div hlmCardHeader>
              <h3 hlmCardTitle>{{ nameRoom }}</h3>
              <p hlmCardDescription>Descrição da sala do criador.</p>
          </div>
          <p hlmCardContent>
              <label class="block" hlmLabel>
                  Name
                  <input class="mt-1.5 w-full" placeholder="Name of your project" hlmInput />
              </label>

              <label class="my-4 mb-1.5 block" hlmLabel>
                  Framework

                
              </label>
          </p>
          <div hlmCardFooter class="justify-between">
              <button hlmBtn variant="ghost"></button>
              <button hlmBtn>Entrar</button>
          </div>
      </section>